<% @subcat ||= ad.subcat  %>
<tr class="user-posts-list clickable-row" href="<%= subcat_ad_url(@subcat, ad) %>">
  <td class="title">
   
      <%= h(ad.title) %>
   
  </td>
	<% feature1 = ad.options.where("option_class_id = ?", @subcat.featured_option_class_id1).first %>
	<td><%= feature1 && h(feature1.option_value.value) %></td>
	<% feature2 = ad.options.where("option_class_id = ?", @subcat.featured_option_class_id2).first %>
	<td><%= feature2 && h(feature2.option_value.value) %></td>
	<td><%= h(ad.region) %></td>
	<td><%= h(ad.address) %></td>
  <td><%= h(ad.created_at) %></td> 
</tr>


