<h1>Submit a New Ad</h1>
<main class="new-ad">
		
	
  <form id="new-listing" action="<%= ads_url %>"
    method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <%= auth_token %>
    
	<div id="new-listing-categories">
		<label class="form-input">Category :</label>
	      <select id="category" name="category">
	        <option></option>
	        <% Category.all.each do |cat| %>
	            <option value="<%= cat.id %>"><%= cat.title %></option>
	        <% end  %>
	      </select>
		  <div id="subcat-dropdown"></div>
	</div>
    <%#= form_input(label_text, type, id, name, value) %>
	<div id="new-listing-options">
    <%= form_input('Title', 'text', 'new-ad-title', 'ad[title]', @ad.title) %>

    <%= form_input('Start Date', 'date', 'new-ad-start-date', 'ad[start_date]', @ad.start_date) %>

    <%= form_input('Address', 'text', 'new-ad-location', 'ad[location]', @ad.location) %>

    <%= form_input('Region', 'text', 'new-ad-region', 'ad[region]',
     @ad.region) %>

    <%= form_input('Price', 'number', 'new-ad-price', 'ad[price]', @ad.price) %>

	<div id="subcat_options"></div>
	
	<%= form_input("Upload Image", "file", "", "ad[pic1]", nil) %>
	</div>
	
	<div id="new-listing-description">
    <label for="ad-description" class="form-input">
      Description :
    </label>
    <br>
    <textarea id="ad-description" name="ad[description]" rows="15" cols="45" placeholder="Provide additional description or contact info here"><%= @ad.description if @ad.description%></textarea>
	</div>
	
    <%= form_submit("Submit Ad") %>
  </form>
</main>



<script>
 $(document).ready(function() {
	 // $( "select" ).change(function () {
	 //     var str = "";
	 //     $( "select option:selected" ).each(function() {
	 //       str += $( this ).text() + " ";
	 //     });
	 //     $( ".display" ).text( str );
	 //   }).change();
	 //       
 
	 $( "select#category" ).change(function () {
		 var str = "";
		 var value = null;
	     $( "select option:selected" ).each(function() {
		  	 value = $(this).val();
			 console.log("cat selected");
	  		 $.ajax({
	  		     url: '/categories/' + value,
	  		     type: 'GET',
	  		     success: function(data){
	  		 	$("#subcat-dropdown").html(data);
	  		     }
	  		   });  
		 });
	   }).change();
	   
	   $( "select#subcat" ).change(function () {
		 var value = null;
			 $( "select option:selected" ).each(function() {
			  	 value = $(this).val();
				 console.log("subcat selected");
			 	 alert("alert" + value); 		 
						 $.ajax({
			 	  		     url: '/subcats/' + value + '/options',
			 	  		     type: 'GET',
			 	  		     success: function(data){
			 	  		 	$("#subcat-options").html(data);
			 	  		     }
			 	 });  
			 });
		 }).change();
	  
	  // $("#select-button").click(function() {
  // 		  alert("hello");
  // 		  		    // window.document.location = $(this).attr("href");
  //     });
});
</script>	
