<main class="new-ad">
		
	
  <form id="new-listing" action="<%= ads_url %>"
    method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <%= auth_token %>
    
	<div id="new-listing-categories">
		<label class="form-input">Category :</label>
	      <select id="category" name="category">
	        <option></option>
	        <% Category.all.each do |cat| %>
	            <option value="<%= cat.id %>"><%= cat.title %></option>
	        <% end  %>
	      </select>
		  <div id="subcat-dropdown"></div>
		  
	</div>

	<div id="new-listing-options">
    <%= form_input('Title', 'text', 'new-ad-title', 'ad[title]', @ad.title) %>

    <%= form_input('Address', 'text', 'new-ad-location', 'ad[address]', @ad.address) %>

    <%= form_input('Region', 'text', 'new-ad-region', 'ad[region]',
     @ad.region) %>

		<div id="new-image-uploads">
	
			<%= form_input("Upload Image", "file", "", "pictures[]", nil) %>
		</div>
	
	</div>
	<div id="subcat-options"></div>
	<div id="new-listing-description">
    <label for="ad-description" class="form-input">
      Description :
    </label>
    <textarea id="ad-description" name="ad[description]" rows="15" cols="45" placeholder="Provide additional description or contact info here"><%= @ad.description if @ad.description%></textarea>
	</div>
	
    <%= form_submit("Submit Ad") %>
  </form>
</main>



<script>


 $(document).ready(function() {    
 
 
	 $( "#category" ).change(function () {	 
		    var value = $(this).val()
		  	$.ajax({
			     url: '/categories/' + value,
			     type: 'GET',
			     success: function(data){
			 			 $("#subcat-dropdown").html(data);
			     }
		  	});  
	   });
	   
	   $("#subcat-dropdown").change(function () {
		 		 var value = $("#subcat-choice").val(); 
				 $.ajax({
	 	  		     url: '/subcats/' + value + '/options',
	 	  		     type: 'GET',
	 	  		     success: function(data){
	 	  		 		$("#subcat-options").html(data);
	 	  		     }
			 	 }); 
		 });
		 
	   var fileForm = "<div class='input'><label>Upload Another Image</label><input type='file' name='pictures[]'></input></div>";

	   $("#new-image-uploads").change(function () {
			 console.log("image div");
			 $("#new-image-uploads").append(fileForm);
		 });
		 
});
</script>	
