<h1>Submit a New Ad</h1>
<main class="new-ad">
	
	<section id="category-selections">
		  
		  <a href="<%= category_url(1) %>" data-remote="true">click</a>
		  <button id="select-button">submit</button>
		  <div class="display"></div>
	</section>
	
	
  <form id="new-listing" action="<%= ads_url %>"
    method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <%= auth_token %>
    
	<div class="category-dropdowns">
	<label class="form-input">Category :</label>
      <select id="category" name="ad[subcat_id]">
        <option></option>
        <% Category.all.each do |cat| %>
            <option value="<%= cat.id %>"><%= cat.title %></option>
        <% end  %>
      </select>
	
	</div>
    <%#= form_input(label_text, type, id, name, value) %>

    <%= form_input('Title', 'text', 'new-ad-title', 'ad[title]', @ad.title) %>

    <%= form_input('Start Date', 'date', 'new-ad-start-date', 'ad[start_date]', @ad.start_date) %>

    <%= form_input('Address', 'text', 'new-ad-location', 'ad[location]', @ad.location) %>

    <%= form_input('Region', 'text', 'new-ad-region', 'ad[region]',
     @ad.region) %>

    <%= form_input('Price', 'number', 'new-ad-price', 'ad[price]', @ad.price) %>
	
	<%= form_input("Upload Image", "file", "", "ad[pic1]", nil) %>

 	<% d_subcat = Subcat.first %>
	
 	<% d_subcat.combined_option_classes.each do |opt_class| %>
		<% bool =  (opt_class.input_type == "checkbox") ? true : nil %>
 		<%= form_input(opt_class.title, opt_class.input_type, "",
 		 "entered_options[#{opt_class.id}]", bool) %>
 	<% end %>

    <label for="ad-description" class="form-input">
      Description :
    </label>
    <br>
    <textarea id="ad-description" name="ad[description]" rows="15" cols="45" placeholder="Provide additional description or contact info here"><%= @ad.description if @ad.description%></textarea>

    <%= form_submit("Submit Ad") %>
  </form>
</main>



<script>
 $(document).ready(function() {
	 // $( "select" ).change(function () {
	 //     var str = "";
	 //     $( "select option:selected" ).each(function() {
	 //       str += $( this ).text() + " ";
	 //     });
	 //     $( ".display" ).text( str );
	 //   }).change();
	 //       

	 
	 
	 $( "select#category" ).change(function () {
	     var str = "";
		 var value = null;
	     $( "select option:selected" ).each(function() {
	       str += $(this).text() + " " + $(this).val();
		   value = $(this).val();
		   
  	     $( ".display" ).text( str );
  		 console.log("value:", value);
  		 $.ajax({
  		     url: '/categories/' + value,
  		     type: 'GET',
  		     success: function(data){
  				 console.log(data);
  				 // console.log(data.title)
  		 // 				 console.log(data.subcats)
  		 	$(".category-dropdowns").append(data);
  		     }
  		   })
		 
		 });
		 
	    
	   }).change();
      
	 
	  
	  
	  $("#select-button").click(function() {
		  alert("hello");
		  		    // window.document.location = $(this).attr("href");
      });
});
</script>	
