<h1>Submit a New Ad</h1>
<main class="new-ad">
  <form class="new-ad" action="<%= ads_url %>"
    method="post" accept-charset="utf-8" enctype="multipart/form-data">
    <%= auth_token %>

    <%#= form_input(label_text, type, id, name, value) %>

    <%= form_input('Title', 'text', 'new-ad-title', 'ad[title]', @ad.title) %>

    <%= form_input('Start Date', 'date', 'new-ad-start-date', 'ad[start_date]', @ad.start_date) %>

    <%= form_input('Address', 'text', 'new-ad-location', 'ad[location]', @ad.location) %>

    <%= form_input('Region', 'text', 'new-ad-region', 'ad[region]',
     @ad.region) %>

    <%= form_input('Price', 'number', 'new-ad-price', 'ad[price]', @ad.price) %>
	
	<%= form_input("Upload Image", "file", "", "ad[pic1]", nil) %>
	
    <label for="subcat-choice" class="form-input">Listing Category :</label>
      <select id="subcat-choice" name="ad[subcat_id]">
        <option></option>
        <% Subcat.all.each do |subcat| %>
          <% if(subcat.id) == @subcat_id.to_i %>
            <option selected="selected"
             value="<%= subcat.id %>"><%= subcat.title %></option>
          <% else %>
            <option value="<%= subcat.id %>"><%= subcat.title %></option>
          <% end %>
        <% end  %>
      </select>
      <br>

 	<% d_subcat = Subcat.first %>
	
 	<% d_subcat.combined_option_classes.each do |opt_class| %>
		<% bool =  (opt_class.input_type == "checkbox") ? true : nil %>
 		<%= form_input(opt_class.title, opt_class.input_type, "",
 		 "ad[entered_options][#{opt_class.id}]", bool) %>
 	<% end %>

    <label for="ad-description" class="form-input">
      Description :
    </label>
    <br>
    <textarea id="ad-description" name="ad[description]" rows="15" cols="45" placeholder="Provide additional description or contact info here"><%= @ad.description if @ad.description%></textarea>

    <%= form_submit("Submit Ad") %>
  </form>
</main>