<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
<% subcat = @ad.subcat  %>	
<main class="listing-show">
	<div class="listing-title clearfix">
	  <h2><%= @ad.title %></h2>
	  <ul class="tags">
			<% @ad.options.each do |option|  %>
				<%	next if(option.option_class_id == subcat.try(:featured_option_class_id1))  %>
				<%	next if(option.option_class_id == subcat.try(:featured_option_class_id2))  %>
				<% value = option.option_value.value %>
				<% value = value == true ? "ok" : value%>
				<li> <%= option.option_class.title %>:<%= value %></li>  <!-- option_values and classes are not prefetched with the option. How can I optimize these queries? -->
			<% end %>
	  </ul>
	  <ul class="essentials">
			
	
			<% feature1 = @ad.options.where("option_class_id = ?", subcat.featured_option_class_id1).first %>
			<% feature2 = @ad.options.where("option_class_id = ?", subcat.featured_option_class_id2).first %>
			<% if(subcat.featured_text && feature1 && feature2) %>
				<li><h3><%= subcat.featured_text.gsub("~", feature1.option_value.value.to_s).gsub("^", feature2.option_value.value.to_s) %></h3></li>
			<% end %>
			
			<li><h3><%= @ad.location %></h3></li>
	  	<li><h3>Posted: <%= @ad.created_at %></h3></li>
	  </ul>
  </div>
	
	<div class="visuals clearfix">
		<div class="left-column">
			<% if @ad.pictures.present? %>
			<section class="apt-pics" id="featured-apt">			
					<img id="featured-pic" src="<%= @ad.pictures.first.image.url(:full) %>">
			</section>
			
			<section class="apt-thumbs">
				<ul id="apt-thumbs-list">
	   				<% @ad.pictures.each_with_index do |pic, i| %>
						<li id="thumb-<%= pic.id %>" class="clickable-thumb <%= (i == 0) ? "selected" : nil %>" 
							data-fullpic="<%= pic.image.url(:full) %>">
							<img src="<%= pic.image.url(:thumbnail) %>">
						</li>
	   				<% end %>
				</ul>
			</section>
			<% end %>
  		</div>	
  	  <div class="right-column">
		  
		  <section class="response-bar">
		    <!-- <a href="">Respond</a> -->
		    <form class="new-response" action="<%= ad_responses_url(@ad) %>"
		       method="post">
		      <%= auth_token %>

		      <div class="input">
		        <label for="response-title">Title</label>
		        <input type="text" id="response-title"
		          name="response[title]" value="RE: <%= @ad.title %>">
		        </input>
		      </div>

		      <div class="input">
		        <label for="response-body">Message</label>
		        <textarea id="response-body" name="response[body]" rows="8" cols="40"
		           placeholder="Enter your response here"></textarea>
		      <!-- <%#= @response.try(:body)%> -->
		      </div>

		     	<div class="submit">
		     		  <input type="submit" value="reply">
		     	</div>
		    </form>
		  </section>
	  
		  <section class="map">
		  	<div id='map' data-coordinates="<%= Geocoder.coordinates(@address) %>"></div>
		  </section>
			<script>
			// var address = '780 St Marks Ave, NYC';
			// var geocoder = L.mapbox.geocoder('krishnakulkarni.i4a9i1jm'),
			//     map = L.mapbox.map('map', 'krishnakulkarni.i4a9i1jm')
			// 
			// geocoder.query(address, showMap);
			// 
			// function showMap(err, data) {
			//      map.fitBounds(data.lbounds);
			// 		 
			// }
			
			var coordinates = JSON.parse($('#map').attr('data-coordinates'));
			var magnification = 14;
			var map = L.mapbox.map('map', 'krishnakulkarni.i4a9i1jm')
			.setView(coordinates, magnification);
			
			L.mapbox.featureLayer({
			    type: 'Feature',
			    geometry: {
			        type: 'Point',
			        coordinates: coordinates.reverse()
			    },
			    properties: {
			        title: 'Listing Address',
			        // one can customize markers by adding simplestyle properties
			        // http://mapbox.com/developers/simplestyle/
			        'marker-size': 'medium',
			        'marker-color': '#1C6BFF' 
			    }
			}).addTo(map);		
					
			</script>
		  </div>
	</div>	


  <section class="description">
	<h4 class="description">Description</h4>
    <article class="ad-description-article">
      <%= @ad.description %>
    </article>
  </section>
</main>
<script>
function makePicsSwap(){
  
  $(".clickable-thumb").mouseover(function() {
	  $(".selected").removeClass("selected");
	  $(this).addClass("selected");
	  // var id = $(this).attr('id');
	  // var id_num = id.charAt(id.length - 1)
		
		var fullPic = $(this).attr('data-fullpic');
	  // $(".featured").removeClass("featured");
	  // $("#image-" + id_num).addClass("featured");
		$("#featured-pic").attr("src", fullPic);
  });
 
};

$(document).ready(makePicsSwap);
$(document).on('page:load', makePicsSwap);
// $(document).on('page:change', makePicsSwap);

</script>