<%= header(@header_options) %>
<main class="account-alerts">
  <%= account_header(@user) %>

  <section class="alerts-container b-on-y">
    <h4 class="item-list-heading">Alerts for <%= @user.username %></h4>
    <ul class="account-item-list b-on-y">
		<% @user.alerts.each do |alert| %>
			<li>
			  Alert #<%= alert.id%>  --- <%= alert.subcat.title %>
			</li>
		<% end %>
		</ul>
  </section>

</main>
