<header class="user-dashboard-header"><h1><%= @user.username %>'s Dashboard : Settings </h1></header>

<nav class="user-dashboard">
  <a class="user-dashboard-nav" href="<%= user_ads_url(@user) %>">Postings</a>
  <a class="user-dashboard-nav" href="<%= user_url(@user) %>">Settings</a>
</nav>

<section class="user-dashboard">
  <p><strong class="user-account-info">Username:</strong>
    <%= @user.username %></p>
  <p><strong class="user-account-info">Email:</strong> <%= @user.email %></p>
  <p><strong class="user-account-info">Password:</strong> </p>
  <p><strong class="user-account-info">Email Responses to Posts?</strong>
   <%= @user.wants_forwarded_responses %></p>

   <a class="button" href="<%= edit_user_url(@user) %>">Edit Settings</a>
   <form class="delete-user" action="<%= user_url(@user) %>" method="post">
     <%= auth_token %>
     <input type="hidden" name="_method" value="DELETE">
     <input class="delete-user" type="submit" value="Delete Account">
   </form>
</section>