<%= header(@header_options) %>

<main class="account-settings">
<%= account_header(@user) %>
	<section class="account-settings-container y-on-b">
	  <p><strong class="user-account-info">Username:</strong>
	    <%= @user.username %></p>
	  <p><strong class="user-account-info">Email:</strong> <%= @user.email %></p>
	  <p><strong class="user-account-info">Password:</strong> -not displayed- </p>
	  <p><strong class="user-account-info">Email Responses to Posts?</strong>
	   <%= @user.wants_forwarded_responses %></p>
	
		 <div class="clearfix">
		   <a class="slick-button medium left" href="<%= edit_user_url(@user) %>">Edit</a>
	
		   <form class="delete-user left" action="<%= user_url(@user) %>" method="post">
		     <%= auth_token %>
		     <%= set_form_method('DELETE') %>
		     <%= form_submit('Delete') %>
		     <!-- <input class="delete-user" type="submit" value="Delete Account"> -->
		   </form>
		 </div>
	</section>
</main>