<% is_extended = signed_in? ? "extended" : nil %>
<main class="home clearfix">
	<% if(false) %>
		<section id="modal" class="is-active">
			<article>
				<span class="hide-modal">&times;</span>
					Dear User,
					<p>KrishList is currently undergoing major redesign/reconstruction, and should be back up with full functionality in a few days. Feel free to look around, but please keep this in mind.</p>
					<p>I apologize for the inconvenience. Check back in a few days to see the
						slick the new design!</p>
						<p>-Krishna</p>
			</article>
		</section>
	<% end %>
	
	<div class="left column">
		<h1 class="home-title">the krishlist</h1>
		<ul class="categories">
			<%= render @categories %>
		</ul> 
	</div>
	
	
	<div class="right column">
		<h1 class="home-title">new york city</h1>
		<div class="misc <%= is_extended %>">
			<div class="item top">
				<a>demo</a>
			</div>
			
			<% if is_extended %>
			<div class="item">
				<a href="<%= user_ads_url(current_user) %>">account</a>
			</div>
			<div class="item">
				<a href="<%= new_ad_url %>">post</a>
			</div>
			<div class="item y-on-b">
				<%= delete_session_link %>
			</div>
			<% else %>
			<div class="item">
				<a href="<%= new_session_url %>">sign in</a>
			</div>			
			<% end %>
			<div class="item">
				<a>about</a>
			</div>
		</div>
	</div>
	
</main>

<script>
	$(document).ready(function(){
		
		$(".hide-modal").on("click", function(event){
			event.preventDefault();
			$("#modal").removeClass("is-active");
		});
		
		$("#modal").on("click", function(event){
			if(event.target.id == this.id){
				event.preventDefault();
				$("#modal").removeClass("is-active");
			};
		});
		
	});
	
</script>