<% is_first = (category == @categories.first) ? "top" : nil  %>
<% position_classes = position_classes(category.title) %>
<li class="<%= is_first %>">
	<a><h2><%= category.title %></h2></a>
	
		<% if(['for sale', 'services', 'jobs'].include? category.title)  %>
			<ul class="cat-side-dropdown first
				<%= position_classes %>">
				<% @subcats = category.subcats.take(14) %>
				<%= render @subcats %>
			</ul>
			<ul class="cat-side-dropdown second
				<%= position_classes %>">
				<% @subcats = category.subcats.drop(14).take(14) %>
				<%= render @subcats %>
			</ul>
			
				<% if(category.title == "for sale") %>
					<ul class="cat-side-dropdown third 
						<%= position_classes %>">
						<% @subcats = category.subcats.drop(28) %>
						<%= render @subcats %>
					</ul>
				<% end %>
		<% else %>
			<ul class="cat-side-dropdown 
				<%= position_classes %>">
				<% @subcats = category.subcats %>
				<%= render @subcats %>
			</ul>
		<% end %>
	
</li>