<!DOCTYPE html>
<html>
<head>
  <title>KrishList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="all-pages">

    <a href="<%= root_url %>">KrishList: New York City</a>

    <div class="bracket-link-container">

      <% if signed_in?  %>
        <%= bracket_link('account', user_url(current_user), 'GET') %>
        <%= bracket_link('post', new_ad_url, 'GET') %>
        <%= bracket_link('sign out', session_url, 'DELETE') %>

      <% else %>
	  	<%= bracket_link('sign in', new_session_url, 'GET') %>
      <% end  %>
    </div>
  </nav>

<% if flash[:errors]  %>
  <div class="page-errors">
    Errors: <%= flash[:errors].join('<br>').html_safe %>
  </div><br>
<% end  %>

<% if flash[:notices]  %>
  <div class="page-notices">
    Notices: <%= flash[:notices].join('<br>').html_safe %>
  </div><br>
<% end  %>



	<main>
		<%= yield %>
	</main>

</body>
</html>
