<!DOCTYPE html>
<html>
<head>
  <title>KrishList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	
<%= header(@header_options) %>

<% if flash[:errors]  %>
  <div class="page-errors">
    Errors: <%= flash[:errors].join('<br>').html_safe %>
  </div><br>
<% end  %>

<% if flash[:notices]  %>
  <div class="page-notices">
    Notices: <%= flash[:notices].join('<br>').html_safe %>
  </div><br>
<% end  %>



	<main>
		<%= yield %>
	</main>

</body>
</html>
