<!DOCTYPE html>
<html>
<head>
  <title>KrishList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
	<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
</head>


<body>
	<%= header(@header_options) %>
<section id="content">
<% if flash[:errors]  %>
  <div class="page-errors">
    Errors: <%= flash[:errors].join('<br>').html_safe %>
  </div><br>
<% end  %>

<% if flash[:notices]  %>
  <div class="page-notices">
    Notices: <%= flash[:notices].join('<br>').html_safe %>
  </div><br>
<% end  %>




		<%= yield %>
		</section>
		
<footer class="footer">
  
	<nav class="footer-nav">
    <ul class="links-list clearfix">
			<li>© 2014 krishList</li> 
      <li><a href="#">about</a></li>
	    <li><a href="#">help</a></li>
      <li><a href="#">safety</a></li>
	   	<li><a href="#">privacy</a></li>				
    </ul>  
   </nav>
  </nav>
</footer>
</body>

</html>
