<!DOCTYPE html>
<html>
<head>
  <title>the krishlist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>


<body>
<% if flash[:errors] %>
	<section id="modal" class="page-notice error is-active">
		<article>
		<span class="hide-modal">&times;</span>
    <p>There has been an error(s):</p> 
		<%= flash[:errors].join('<br>').html_safe %>
	</article>
	</section>
<% end  %>

<% if flash[:notices]  %>
	<section id="modal" class="page-notice is-active">
		<article>
		<span class="hide-modal">&times;</span>
    <%= flash[:notices].join('<br>').html_safe %>
		</article>
	</section>
<% end  %>




		<%= yield %>
		
	<footer class="footer">
		<nav>
	    <ul class="clearfix">
				<li>© 2014 the krishlist</li> 
	      <li><a href="#">about</a></li>
		    <li><a href="#">help</a></li>
	      <li><a href="#">safety</a></li>
		   	<li><a href="#">privacy</a></li>				
	    </ul>  
	   </nav>
	  </nav>
	</footer>
</body>
<script>
	$(document).ready(function(){
		
		$(".hide-modal").on("click", function(event){
			event.preventDefault();
			$("#modal").removeClass("is-active");
		});
		
		// $("#modal").on("click", function(event){
		// 	if(event.target.id == this.id){
		// 		event.preventDefault();
		// 		$("#modal").removeClass("is-active");
		// 	};
		// });
		
	});
	
</script>

</html>
