<!DOCTYPE html>
<html>
<head>
  <title>krishlist</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>


<body>
<% if false && flash[:errors]  %>
  <div class="page-errors">
    Errors: <%= flash[:errors].join('<br>').html_safe %>
  </div><br>
<% end  %>

<% if false && flash[:notices]  %>
  <div class="page-notices">
    Notice: <%= flash[:notices].join('<br>').html_safe %>
  </div><br>
<% end  %>




		<%= yield %>
		
	<footer class="footer">
		<nav>
	    <ul class="clearfix">
				<li>© 2014 the krishlist</li> 
	      <li><a href="#">about</a></li>
		    <li><a href="#">help</a></li>
	      <li><a href="#">safety</a></li>
		   	<li><a href="#">privacy</a></li>				
	    </ul>  
	   </nav>
	  </nav>
	</footer>
</body>

</html>
